{% extends 'first_app/base.html' %}
    {% block body %}
        <div class="Jumbotron">
            <form action="{% url 'first_app:login_user' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" name="username" placeholder="Enter username here">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password">
                </div>
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
        </div>
    {% endblock %}
